.container {
    position: relative;
  .navbar {
    width: 100%;
  }
  .home {
    display: flex;
    margin-top: 20px;
    .homeContainer {
      flex: 4;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sideContainer {
    }
  }
}
