.container {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }

  .home {
    display: flex;
    margin-top: 50px;

    .sidebar {
      flex: 1;
      position: fixed;
      width: 100%;
    }
    .homeContainer {
      flex: 4;
      position: relative;
      left: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f9f9f9;
    }
    .sideContainer {
      padding-top: 25px;
      flex: 2;
      position: sticky;
      top: 20px;
      background-color: #f9f9f9;
    }
  }
}
